:root{
    --primary-color: #000;
    --secondary-color: #000;
}

.hamburger{
    display: block;
    width: 24px;
    height: 14px;
    border-top: solid 5px var(--primary-color);
    border-bottom: solid 5px var(--primary-color);
    position: relative;
    border-radius: 4px;
}

.hamburger:before{
    content: '';
    height: 0;
    width: 24px;
    border-top: solid 3px var(--secondary-color);
    border-bottom: solid 3px var(--secondary-color);
    border-radius: 2px;
    position: absolute;
    top: 4px;
    left: 0;

}