/*

Author: Novitz Jean-Philippe <novitz@gmail.com>
Date: October 2021

Hot Dog menu icon only made with html and css
*/

:root{
    --primary-color: #82552E;
    --secondary-color: #EDA738;
    --black: #000;
    --width: 32px;
    --height: 32px;
    --height-real: calc(var(--height) - var(--thick) * 2);
    --thick: 6px;
    --border-primary: solid var(--thick) var(--primary-color);
    --border-black: solid var(--thick) var(--black);
    --radius: 4px;
    --top: calc((var(--height) - var(--thick) * 2) /2 - var(--thick)/2 + 0.5px);
}



/* Hotdog */

.hotdog:before{
    content: '';
    height: 0;
    width: calc(var(--width) * 1.34);
    background-color: var(--black);
    border-top: solid calc(var(--thick)/2) var(--black);
    border-bottom: solid calc(var(--thick)/2) var(--black);
    border-radius: var(--radius);
    position: absolute;
    top: calc((var(--height) - var(--thick) * 2) /2 - var(--thick)/2 + 0.5px);
    left: -5px;

}

.hotdog{
    display: block;
    margin-left: 5px;
    width: var(--width);
    height: calc(var(--height) - var(--thick) * 2);
    border-top: var(--border-black);
    border-bottom: var(--border-black);
    position: relative;
    border-radius: var(--radius);
}
