/*

Author: Novitz Jean-Philippe <novitz@gmail.com>
Date: October 2021

Hamburger menu icon only made with html and css
*/


:root{
    --primary-color: #000;
    --secondary-color: #000;
    --width: 32px;
    --height: 32px;
    --thick: 6px;
    --border: solid var(--thick) var(--primary-color);
    --radius: 4px;
}


/*** Hamburger ***/

.hamburger:before{
    content: '';
    height: 0;
    width: var(--width);
    background-color: var(--secondary-color);
    border-top: solid calc(var(--thick)/2) var(--secondary-color);
    border-bottom: solid calc(var(--thick)/2) var(--secondary-color);
    border-radius: var(--radius);
    position: absolute;
    top: calc((var(--height) - var(--thick) * 2) /2 - var(--thick)/2 + 0.5px);
    left: 0;
    cursor: pointer;
}

.hamburger{
    display: block;
    width: var(--width);
    height: calc(var(--height) - var(--thick) * 2);
    border-top: var(--border);
    border-bottom: var(--border);
    position: relative;
    border-radius: var(--radius);
}
