:root{
    --primary-color: #82552E;
    --secondary-color: #EDA738;
    --black: #000;
    --width: 32px;
    --height: 32px;
    --thick: 6px;
    --border-primary: solid var(--thick) var(--primary-color);
    --border-black: solid var(--thick) var(--black);
    --radius: 4px;
}


/*** Hamburger ***/

.hamburger:before{
    content: '';
    height: 0;
    width: var(--width);
    background-color: var(--primary-color);
    border-top: solid calc(var(--thick)/2) var(--black);
    border-bottom: solid calc(var(--thick)/2) var(--black);
    border-radius: var(--radius);
    position: absolute;
    top: calc((var(--height) - var(--thick) * 2) /2 - var(--thick)/2 + 0.5px);
    left: 0;
    cursor: pointer;
}

.hamburger{
    display: block;
    width: var(--width);
    height: calc(var(--height) - var(--thick) * 2);
    border-top: var(--border-black);
    border-bottom: var(--border-black);
    position: relative;
    border-radius: var(--radius);
}



/*** Hamburger Color***/

.hamburger-color:before{
    content: '';
    height: 0;
    width: var(--width);
    background-color: var(--primary-color);
    border-top: solid calc(var(--thick)/2) var(--secondary-color);
    border-bottom: solid calc(var(--thick)/2) var(--secondary-color);
    border-radius: var(--radius);
    position: absolute;
    top: calc((var(--height) - var(--thick) * 2) /2 - var(--thick)/2 + 0.5px);
    left: 0;
    cursor: pointer;
}

.hamburger-color{
    display: block;
    width: var(--width);
    height: calc(var(--height) - var(--thick) * 2);
    border-top: var(--border-primary);
    border-bottom: var(--border-primary);
    position: relative;
    border-radius: var(--radius);
}


/* Hamburger Alt */

.hamburger-alt{

    background: linear-gradient(#000 var(--thick), transparent 0% );
    background-size: var(--thick) 33.34%;
    background-repeat: repeat;
    display: block;
    width: calc(var(--width) - var(--thick));
    height: calc(var(--height) + var(--thick));
    max-width: var(--width);
}


/*Hotdog*/

.hotdog:before{
    content: '';
    height: 0;
    width: calc(var(--width) * 1.34);
    background-color: var(--primary-color);
    border-top: solid calc(var(--thick)/2) var(--primary-color);
    border-bottom: solid calc(var(--thick)/2) var(--primary-color);
    border-radius: var(--radius);
    position: absolute;
    top: calc(var(--height)/2 - var(--thick)/2);
    left: -5px;

}

.hotdog{
    display: block;
    margin-left: 5px;
    width: var(--width);
    height: var(--height);
    border-top: var(--border);
    border-bottom: var(--border);
    position: relative;
    border-radius: var(--radius);
}


.veggie:before{
    content: '';
    height: 0;
    width: 26px;
    background-color: var(--primary-color);
    border-top: solid calc(var(--thick)/2) var(--primary-color);
    border-bottom: solid calc(var(--thick)/2) var(--primary-color);
    border-radius: var(--radius);
    position: absolute;
    top: 0;
    left: 0;

}


.veggie{
    display: block;
    margin-left: 5px;
    width: var(--width);
    height: var(--height);
    border: 0;
    position: relative;
    border-radius: var(--radius);
}

.veggie:after{
    content: '';
    height: 0;
    width: 26px;
    background-color: var(--primary-color);
    border-top: solid calc(var(--thick)/2) var(--primary-color);
    border-bottom: solid calc(var(--thick)/2) var(--primary-color);
    border-radius: var(--radius);
    position: absolute;
    bottom: 0;
    left: 0;

}


/* Oreo */

.oreo{
    display: block;
    width: var(--width);
    height: 0;
    border: 0;
    position: relative;
    border-radius: var(--radius);
}

.oreo:before,
.oreo:after{
    content: '';
    height: 4px;
    width: var(--width);
    background-color: #fff;
    border-top: var(--border);
    border-bottom: var(--border);
    border-radius: var(--radius);
    position: absolute;
    left: 0;

}

.oreo:before{
    top: 0;
}
.oreo:after{
    top: calc(var(--thick) *3);
}

/* Strawberry */
.strawberry,
.strawberry:before,
.strawberry:after{
    display: block;
    height: 0;
    border-top: var(--border);
    border-radius: var(--radius);
}
.strawberry{
    position: relative;
    width: var(--width);
}
.strawberry:before{
    content: '';
    position: absolute;
    width: calc(var(--width) - var(--thick));
    left: calc(var(--thick)/2);
    top: calc(var(--thick) - 2px);
}
.strawberry:after{
    content: '';
    position: absolute;
    width: calc(var(--width) - var(--thick) * 2);
    left: calc(var(--thick));
    top: calc(var(--thick) * 3 - 4px);
}


/* Fries */
.fries{
    display: block;
    width: var(--width);
    height: var(--height);
    border-top: var(--border);
    border-bottom: var(--border);
    position: relative;
    border-radius: var(--radius);
}

.fries:before{
    content: '';
    height: 0;
    width: calc(var(--width) - var(--thick));
    background-color: var(--primary-color);
    border-top: solid calc(var(--thick)/2) var(--primary-color);
    border-bottom: solid calc(var(--thick)/2) var(--primary-color);
    border-radius: var(--radius);
    position: absolute;
    top: calc(var(--height)/2 - var(--thick)/2);
    left: var(--thick);

}

/* Cake */
.cake{
    display: block;
    width: var(--width);
    height: var(--height);
    border-top: var(--border);
    border-bottom: var(--border);
    position: relative;
    border-radius: var(--radius);
}

.cake:before{
    content: '';
    height: calc(var(--thick)/2);
    width: calc(var(--thick)/2);
    background-color: var(--primary-color);
    border: solid calc(var(--thick)/2) var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: calc(var(--thick)/2 - var(--height));
    left: calc(var(--thick) + 2px);

}

.cake:after{
    content: '';
    height: 0;
    width: var(--width) ;
    background-color: var(--primary-color);
    border-top: solid calc(var(--thick)/2) var(--primary-color);
    border-bottom: solid calc(var(--thick)/2) var(--primary-color);
    border-radius: var(--radius);
    position: absolute;
    top: calc(var(--height)/2 - var(--thick)/2 - 2px);
    left: 0;

}




/* Stairs */
.stairs{
    display: block;
    width: calc(var(--width) - var(--thick));
    height: var(--height);
    border-top: var(--border);
    /*border-bottom: var(--border);*/
    position: relative;
    border-radius: var(--radius);
    margin-left: calc(2 * var(--thick));
}

.stairs:before{
    content: '';
    height: 0;
    width: 100%;
    background-color: var(--primary-color);
    border-top: solid calc(var(--thick)/2) var(--primary-color);
    border-bottom: solid calc(var(--thick)/2) var(--primary-color);
    border-radius: var(--radius);
    position: absolute;
    top: calc(var(--height)/2 - var(--thick)/2 - 2px);
    left: calc(0px - var(--thick));

}

.stairs:after{
    content: '';
    height: 0;
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: var(--border);
    border-radius: var(--radius);
    position: absolute;
    top: calc(var(--height) - var(--thick)/2);
    left: calc(0px - var(--thick) * 2);

}

.candy{

    background: radial-gradient(circle, black 50%, transparent 3%);
    background-size: var(--thick) calc(var(--thick) + 3px);
    background-repeat: repeat;
    display: block;
    width: calc(var(--width) - var(--thick));
    height: calc(var(--height) + var(--thick));
    max-width: var(--width);
    background-position-x: 0;
    background-position-y: calc(0 - var(--thick) * 2 - 1px);
}

.kebab{

    background: radial-gradient(circle, black 50%, transparent 3%) center;
    background-size: var(--thick) calc(var(--thick) + 3px);
    background-repeat: repeat-y;
    display: block;
    width: calc(var(--width) - var(--thick));
    height: calc(var(--height) + var(--thick));
    max-width: var(--width);
}
