body{
    padding: 2rem;
    font-size: 17px;
}

header, section{
    max-width: 1200px;
    margin: auto;
}

.group{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    min-width: 100%;
}

.item{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 1rem 2rem;
}

.item label{
    font-size: 1.2rem;
    font-weight: bold;
}


#example{
    margin: 2rem auto;
    border: solid 1px #cecece;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 800px;
    height: 400px;
}

#decoration {
    background-image: radial-gradient(circle, black 27%, transparent 5%);
    background-size: 15px 15px;
    background-repeat: repeat;
    display: flex;
    flex: 1;
    width: 80px;
    height: 80px;
    max-width: 80px;
}