/*

Author: Novitz Jean-Philippe <novitz@gmail.com>
Date: October 2021

Veggie menu icon only made with html and css
*/

:root{
    --primary-color: #82552E;
    --secondary-color: #EDA738;
    --black: #000;
    --width: 32px;
    --height: 32px;
    --height-real: calc(var(--height) - var(--thick) * 2);
    --thick: 6px;
    --border-primary: solid var(--thick) var(--primary-color);
    --border-black: solid var(--thick) var(--black);
    --radius: 4px;
    --top: calc((var(--height) - var(--thick) * 2) /2 - var(--thick)/2 + 0.5px);
}


/* veggie */

.veggie:before{
    content: '';
    height: 0;
    width: var(--width);
    background-color: var(--black);
    border-top: solid calc(var(--thick)/2) var(--black);
    border-bottom: solid calc(var(--thick)/2) var(--black);
    border-radius: var(--radius);
    position: absolute;
    top: 0;
    left: 0;

}

.veggie{
    display: block;
    margin-left: 5px;
    width: var(--width);
    height: var(--height-real);
    border: 0;
    position: relative;
    border-radius: var(--radius);
}

.veggie:after{
    content: '';
    height: 0;
    width: var(--width);
    background-color: var(--black);
    border-top: solid calc(var(--thick)/2) var(--black);
    border-bottom: solid calc(var(--thick)/2) var(--black);
    border-radius: var(--radius);
    position: absolute;
    bottom: 0;
    left: 0;

}
