:root{
    --primary-color: #000;
    --secondary-color: #000;
    --primary-alt: #92B810;
    --secondary-alt: #27560C;
}


.veggie:before{
    content: '';
    height: 0;
    width: 26px;
    border-top: solid 3px var(--secondary-color);
    border-bottom: solid 3px var(--secondary-color);
    background-color:  var(--secondary-color);
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;

}
.veggie.alt:after{
    border-color: var(--secondary-alt);
    background-color: var(--secondary-alt);

}
.veggie.alt:before{
    border-color: var(--primary-alt);
    background-color: var(--primary-alt);
}

.veggie{
    display: block;
    margin-left: 5px;
    width: 16px;
    height: 14px;
    border: 0;
    position: relative;
    border-radius: 4px;
}

.veggie:after{
    content: '';
    height: 0;
    width: 26px;
    border-top: solid 3px var(--secondary-color);
    border-bottom: solid 3px var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;

}

.veggie.alt{
    border-top-color: var(--primary-alt);
    border-bottom-color: var(--primary-alt);
}
